<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div style="margin: 10px">
    <form th:method="POST" th:action="@{/products/find}">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="underPrice" placeholder="Price under" min="0">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="overPrice" placeholder="Price over" min="0">
        </div>
        <h5> Manufacturer
            <select class="form-control" id="manufacturer" name="manufacturerId">
                <option style="display:none">
                <option th:each="manufacturer : ${manufacturers}"
                        th:value="${manufacturer.id}"
                        th:text="${manufacturer.name}">
                </option>
            </select>
        </h5>
        <p>
            <button class="btn btn-primary" type="submit">Find</button>
            <input class="btn btn-secondary" type="reset" value="Reset form">
        </p>
        <p>
            <a class="btn btn-info" title="Back to list"
               th:href="@{/users}">Back to products list </a>
        </p>
    </form>
    <div th:if="${not #lists.isEmpty(products)}">
        <table style="text-align: center" border="2" width="100%">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Price</td>
                <td>Manufacturer</td>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.productDetails}"></td>
                <td>
                    <form th:method="POST" th:action="@{/products/delete/{id}(id=${product.id})}">
                        <a class="btn btn-primary btn-sm" title="Edit"
                           th:href="@{/products/update/{id}(id=${product.id})}">Edit
                        </a>
                        <button class="btn btn-danger btn-sm" type="submit" value="Delete">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(products)}">
        <span>No results!</span>
    </div>
</div>
</body>
</html>