<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div style="margin: 10px">
    <form id="createForm" name="createForm" th:method="POST" th:action="@{/users/changepassword}">
        <input hidden="hidden" th:value="${user.id}" name="id"/>
        <input hidden="hidden" th:value="${user.roleId}" name="roleId"/>
        <input hidden="hidden" th:value="${user.firstName}" name="firstName"/>
        <input hidden="hidden" th:value="${user.lastName}" name="lastName"/>
        <input hidden="hidden" th:value="${user.email}" name="email"/>
        <h5>Email:
            <span th:text="${user.email}"></span>
        </h5>
        <h5>First name and last name:
            <span th:text="${user.firstName}"></span>
            <span th:text="${user.lastName}"></span>
        </h5>
        <div class="form-group">
            <input name="password" type="text" class="form-control" placeholder="New password" required/>
        </div>
        <div class="form-group">
            <input name="confirmpassword" type="text" class="form-control" placeholder="Confirm password" required/>
        </div>
        <p>
            <button class="btn btn-primary" type="submit" value="Send">Change</button>
            <input class="btn btn-secondary" type="reset" value="Reset form">
        </p>
    </form>
</div>
<script th:inline="javascript">
    let myForm = document.getElementById('createForm');
    myForm.addEventListener('submit', validateForm);

    function validateForm(e) {
        let password = document.createForm.password.value;
        let confirmPassword = document.createForm.confirmpassword.value;
        if(password != confirmPassword) {
            e.preventDefault();
            alert('Password and confirm password should be the same!');
        }
    }
</script>
</body>
</html>