<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Save user</title>
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <div th:insert="navbar :: navbar"></div>
    <form action="/user/findbyid" method="GET">
      Id: <br>
      <input type="text" name="id"> <br>
      <button type="submit">Find</button>
    </form> <br>
<!--    <div th:if="${not#lists.isEmpty(users)}">-->
    <div>
      <table style="text-align: center" border="1" width="40%" height="40%">
        <tr>
          <td>Id</td>
          <td>First name</td>
          <td>Last name</td>
          <td>Email</td>
          <td>Roles</td>
        </tr>
        <tr th:each="user : ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.firstName}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.email}"></td>
          <td th:block>
            <span th:each="role : ${user.roles}">
              <span th:text="${role}"></span>
            </span>
          </td>
        </tr>
        <table>
    </div>
  </body>
</html>