<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="width: 300px;  margin: auto;">
    <form method="POST" th:action="@{/users/registration}">
        <h4 style="text-align: center" class="form-heading">Please fill out registration form</h4>
        <div class="form-group">
            <input name="email" type="text" class="form-control" placeholder="Email" required/>
        </div>
        <div class="form-group">
            <input name="password" type="text" class="form-control" placeholder="Password" required/>
        </div>
        <div class="form-group">
            <input name="firstName" type="text" class="form-control" placeholder="First name" required/>
        </div>
        <div class="form-group">
            <input name="lastName" type="text" class="form-control" placeholder="Last name" required/>
        </div>
        <button class="btn btn-primary form-control" type="submit">Register</button>
        <span th:text="${msg}"></span>
    </form>
</div>
</body>
</html>