<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="width: 300px;  margin: auto;">
    <form class="form-signin" method="POST" th:action="@{/login}">
        <h4 style="text-align: center" class="form-heading">Please login to continue</h4>
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Email" autofocus="true"/>
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span style="color:red" th:text="${error}"></span>
        </div>
        <div class="form-group" style="text-align: center">
            <button class="btn btn-primary form-control" type="submit">Login</button>
            <a class="btn" title="Registration" href="/user/registration">
                Registration
            </a>
        </div>
        <span th:text="${msg}"></span>
    </form>
</div>
</body>
</html>